<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirkastillito Web</title>

    <link rel="stylesheet" href="css/root.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="https://www.facebook.com/mrp53">
                <span><ion-icon name="logo-facebook"></ion-icon></span>
                <h1>MIRKASTILLITO</h1>
                <div class="logo__hover__effect"></div>
            </a>
            <div class="nav__links">
                <div class="nav__links__icon bars">
                    <ion-icon name="menu" class="icon"></ion-icon>
                </div>
                <div class="nav__links__icon close">
                    <ion-icon name="close"></ion-icon>
                </div>

                <div class="nav__choice">
                    <ul>
                        <li>
                            <a href="/#lobby">
                                <span><ion-icon name="home"></ion-icon></span>
                                <span>Lobby</span>
                            </a>
                        </li>
                        <li>
                            <a href="/#about">
                                <span><ion-icon name="information-circle"></ion-icon></span>
                                <span>Acerca</span>
                            </a>
                        </li>
                        <li>
                            <a href="#services">
                                <span><ion-icon name="star-half"></ion-icon></span>
                                <span>Servicios</span>
                            </a>
                        </li>
                        <li>
                            <a href="/#photos">
                                <span><ion-icon name="image"></ion-icon></span>
                                <span>Fotos</span>
                            </a>
                        </li>
                        <hr>
                        
                        <li>
                            <div class="nav__links__actions">
                                <span><ion-icon name="apps"></ion-icon></span>
                                <span>Acciones</span>
                                <div class="items-content">
                                    <div class="items">
                                        <a class="item" href="/message">
                                            <span><ion-icon name="mail"></ion-icon></span>
                                            <span>Mensaje</span>
                                        </a>
                                        <a class="item" href="/reserv">
                                            <span><ion-icon name="bed"></ion-icon></span>
                                            <span>Reserva</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav__links__action">
                            <a href="/message">
                                <span><ion-icon name="mail"></ion-icon></span>
                                <span>Mensaje</span>
                            </a>
                        </li>
                        <li class="nav__links__action">
                            <a href="/reserv">
                                <span><ion-icon name="bed"></ion-icon></span>
                                <span>Reserva</span>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>